.pokemon-list {
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    margin-top: 3rem;
}

@media (max-width: 500px){
    .pokemon-list {
        width: 100%;
      flex-direction: column;
    }
  }